<%- include('../partials/admin/header') %>
<link rel="stylesheet" href="../../css/styles/categoryupdate.css">

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 d-md-none">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Update Product Category</a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation" id="menuBtn">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Update Product Category</h1>
  </div>

  

  <form action="/admin/categoryupdate" method="POST">
    
    <div class="mb-3">

        <input type="hidden" name="id" value="<%= category[0]?._id %>">
        
        
      <label for="categoryName" class="form-label">Category Name</label>
      <input type="text" class="form-control" id="categoryName" name="name" value="<%= category?.name %>" >
    </div>

     <!-- <div>
    <label for="categoryName" class="form-label">Description </label>
      <input type="text" class="form-control" id="categoryName"  name="description" value="<%= category?.description %>" >
    </div> -->

   

    <div class="mb-3">
      <label for="categoryStatus" class="form-label">Status</label>
      <select class="form-control" id="categoryStatus" name="status" required>
        <option value="active" <%= category.status === 'active' ? 'selected' : '' %>>Active</option>
        <option value="inactive" <%= category.status === 'inactive' ? 'selected' : '' %>>Inactive</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Update Category</button>
  </form>
</main>



<%- include('../partials/admin/footer') %>
