<%- include('../partials/admin/header') %>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 d-md-none">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">User Management</a>
          <button class="navbar-toggler custom-toggler" id="menuBtn" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">User Status</h1>
      </div>

      <div class="row mb-3">
        <div class="col">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search users...">
            <button class="btn btn-primary" type="button">Search</button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
              <th>Join Date</th>
              <th>Phone no.</th>
              <th>Actions</th>
              
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user => { %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td><%= user.createdAt.toISOString().split('T')[0] %></td>
                <td><%= user.phone %></td>
                <td >
                  <form action="/admin/userupdate/<%= user._id %>" method="get" >
                  <button style="display: inline" class="btn btn-warning btn-sm " value="<%= user._id %>" >Update</button>
                </form>
                <form action="/admin/banuser" method="POST"  >
                  <input type="hidden" name="userId" value="<%= user._id %>">
                  <!-- If the user is banned, show 'Unblock' button, otherwise show 'Ban' -->
                  <button  type="submit" class="btn <%= user.isBanned ? 'btn-success' : 'btn-danger' %> btn-sm">
                    <%= user.isBan ? 'Unblock' : 'Block' %>
                  </button>
                </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<%- include('../partials/admin/footer') %>
