<%- include('../partials/admin/header') %>

<!-- Main Content -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <!-- Mobile Toggle Button -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 d-md-none">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Update User</a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation" id="menuBtn">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Update User</h1>
  </div>

  <form action="/admin/userupdate" method="POST">
    <% if (user && user._id) { %>
      <input type="hidden" name="id" value="<%= user._id %>">
    <% } else { %>
      <input type="hidden" name="id" value="">
      <p style="color: red;">User ID is missing. Please try again later.</p>
    <% } %>
    
    <div class="row mb-3">
      <div class="col-12 col-md-6">
        <label for="userName" class="form-label">User Name</label>
        <input type="text" class="form-control" id="userName" name="name" value="<%= user.name %>" required>
      </div>
      <div class="col-12 col-md-6">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password (leave blank if not changing)">
    </div>
  
    <div class="mb-3">
      <label for="phone" class="form-label">Phone No</label>
      <input type="text" class="form-control" id="phone" name="phone" value="<%= user.phone %>" required>
    </div>
  
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</main>
</div>
</div>

<%- include('../partials/admin/footer') %>
