<!DOCTYPE html>
<html lang="en">


<!-- molla/product.html  22 Nov 2019 09:54:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clicon</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">
</head>

<body>



<link rel="stylesheet" href="/css/styles/user/productview.css">




    <div class="page-wrapper">
        <header class="header header-intro-clearance header-4">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li>
                                        <div class="header-dropdown">
                                            <a href="#">USD</a>
                                            <div class="header-menu">
                                                <ul>
                                                    
                                                </ul>
                                            </div><!-- End .header-menu -->
                                        </div>
                                    </li>
                                    <li>
                                        <div class="header-dropdown">
                                            <a href="#">English</a>
                                            <div class="header-menu">
                                                <ul>
                                                   
                                                </ul>
                                            </div><!-- End .header-menu -->
                                        </div>
                                    </li>
                                    <% if(user){%>

                                        <li><a href="/logout">Logout</a></li>
                                  <%  }else{%>

                                    <li><a href="/signin">Sign in / Sign up</a></li>
                                <%  } %>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->

                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="index.html" class="logo">
                            <h2>Clicon</h2>

                            
                        </a>
                    </div><!-- End .header-left -->

                    

                    <div class="header-right">
                        <div class="compare-dropdown">
                            <a href="#" title="Compare Products" aria-label="Compare Products">
                                <div class="icon">
                                    <i class="icon-random" style="font-size: 24px;"></i>
                                </div>
                                <p>Compare</p>
                            </a>
                        </div>
                        <!-- End .compare-dropdown -->

                        <div class="wishlist">
                            <a href="/wishlist" title="Wishlist">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                    
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div><!-- End .compare-dropdown -->

                        <div class="cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button" data-display="static">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                </div>
                                <p>Cart</p>
                            </a>
                        </div><!-- End .cart-dropdown -->
                        


                   
                     
                         

                    </div>



                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                     
                    </div><!-- End .header-left -->
                    <div class="header-center">

                        <nav class="main-nav" style="display: flex; align-items: center;">
                            <ul class="menu" style="list-style: none; display: flex; align-items: center; margin: 0; padding: 0; width: 100%;">
                                <li  style="margin: 0 10px;">
                                    <a href="/" class="sff-with-ul" style="text-decoration: none; color: #000; font-size: 16px;">Home</a>
                                </li>
                                <li style="margin: 0 10px;" class="megamenu-container active">
                                    <a href="/productlist" class="sff-with-ul" style="text-decoration: none; color: #000; font-size: 16px;">Shop</a>
                                </li>
                                <li style="margin: 0 10px;">
                                    <a href="/hi" class="sff-with" style="text-decoration: none; color: #000; font-size: 16px;">About</a>
                                </li>
                                <li style="margin: 0 10px;">
                                    <a href="/hi" class="sff-with" style="text-decoration: none; color: #000; font-size: 16px;">Contact</a>
                                </li>
                              
                            </ul>
                        </nav>

                    </div>

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header>


        
        <input type="hidden" value="<%= product[0]?.stock %>" id="stk">
                                    
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center  border-bottom"  style="border-color: burlywood;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/productview/<%= product[0]._id %>">Products</a></li>
                    
                    </ol>

                    
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content mt-5"  >
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <!-- Main image dynamically set to the first image -->
                                            <img id="product-zoom" src="/uploads/<%= product[0].image[0]%>" 
                                                data-zoom-image="" alt="product image">
                            
                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->
                            
                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <% product[0].image.forEach((image, index) => { %>
                                                <a class="product-gallery-item active" href="#" data-image="/uploads/<%= image %>" data-zoom-image="/uploads/<%= image %>">
                                                    <img src="/uploads/<%= image %>" alt="product side">
                                                </a>
                                            <% }) %>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->
                            
                         
                            <div class="col-md-6">
                                <div class="product-details">
                                    <!-- Product Title -->
                                    <h1 class="product-title"><%= product[0].productname %></h1>
                            
                                    <!-- Ratings Section -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: <%= product[0].rating * 20 %>%;"></div>
                                        </div>
                                        <a class="ratings-text" href="#product-review-link" id="review-link">
                                            ( <%= product[0].rating %> )
                                        </a>
                                    </div>
                            
                                    <!-- Product Price -->
                                    <% 
                                          
                                            const originalPrice = parseFloat(product[0].price.replace(/,/g, '')) || 0; 
                                            const discountMatch = product[0].offer ? product[0].offer.match(/\d+/) : null;
                                            const discountPercentage = discountMatch ? parseFloat(discountMatch[0]) : 0; 
                                            const discountedPrice = originalPrice - (originalPrice * discountPercentage / 100);
                                        %>

                                        <div class="product-price">
                                            <del style="color: red;">₹<%=Math.floor(originalPrice)  %></del>
                                            <span style="color: green; font-size: 28px; font-weight: bold; margin-left: 10px;">
                                                ₹<%= Math.floor(discountedPrice)%>
                                            </span>
                                        </div>

                                        <div class="product-price">
                                            <%= product[0].offer %> <p style="color: green; font-size: larger;">Off</p>
                                        </div>

                            
                                    <!-- Product Description -->
                                    <div class="product-content">
                                        <p><%= product[0].description %></p>
                                    </div>
                            
                                    <!-- Color Options -->
                                    <div class="details-filter-row details-row-size">
                                        <span>Available Color:</span>
                                        <div class="filter-colors">
                                            <% for (let i = 0; i < product[0].color.length; i++) { %>
                                                <a href="javascript:void(0);" class="color-option <%= i === 0 ? 'selected' : '' %>" data-value="<%= product[0].color[i] %>"
                                                   style="background: <%= product[0].color[i].toLowerCase() %>; display: inline-block; width: 25px; height: 25px; border-radius: 50%; margin-right: 5px; border: 2px solid transparent;">
                                                    <span class="sr-only"><%= product[0].color[i] %></span>
                                                </a>
                                            <% } %>
                                        </div>
                                    </div>
                            
                                    <div class="product-cat">
                                        <strong><span>Category:</span></strong>
                                        <a href="#"><%= product[0].category %></a>
                                    </div>
                            
                                    <div class="product-cat">
                                        <strong><span>Warranty:</span></strong>
                                        <a href="#"><%= product[0].warranty %></a>
                                    </div>

                                    <% if (product[0]?.ram[0]?.length > 0) { %>
                                        <div class="product-cat mb-4">
                                            <strong><span>Specifications:</span></strong>
                                    
                                            <div style="margin-top: 15px;">
                                                <span style="font-weight: bold; display: inline-block; width: 100px;">Ram:</span>
                                                <% for (let i = 0; i < product[0].ram.length; i++) { %>
                                                    <a href="javascript:void(0);" class="variant-option" data-type="ram" data-value="<%= product[0].ram[i] %>"
                                                       style="margin-right: 5px; padding: 5px 10px; text-decoration: none; color: #000000; border-radius: 5px;">
                                                        <%= product[0].ram[i] %>
                                                    </a>
                                                <% } %>
                                            </div>
                                    
                                            <% if (product[0].storage.length > 0) { %>
                                                <div style="margin-top: 5px;">
                                                    <span style="font-weight: bold; display: inline-block; width: 100px;">Storage:</span>
                                                    <% for (let i = 0; i < product[0].storage.length; i++) { %>
                                                        <a href="javascript:void(0);" class="variant-option" data-type="storage" data-value="<%= product[0].storage[i] %>"
                                                           style="margin-right: 5px; padding: 5px 10px; text-decoration: none; color: #000000; border-radius: 5px;">
                                                            <%= product[0].storage[i] %>
                                                        </a>
                                                    <% } %>
                                                </div>
                                            <% } %>
                                        </div>
                                    <% } %>
                                    
                                    
                                    
                            
                                    <!-- Quantity -->
                                    <form action="/cart" method="post" id="addToCartForm">
                                        <input type="hidden" name="productId" value="<%= product[0]?._id %>">
                                        <input type="hidden" name="stock" value="<%= product[0]?.stock %>">
                                        <input type="hidden" name="selectedColor" id="selectedColorInput"> <!-- Hidden input for color -->
                                    
                                        <div class="details-filter-row details-row-size">
                                            <label for="qty">Qty:</label>
                                            <div class="product-details-quantity">
                                                <input type="number" name="quantity" id="qty" class="form-control" 
                                                       value="1" min="1" max="5" step="1" required />
                                            </div>
                                        </div>
                                    
                                        <!-- Notification Box -->
                                        <div class="custom-notification" id="customNotification">
                                            <span class="notification-message"></span>
                                        </div>
                                    
                                        <div class="product-details-action">
                                            <a onclick="buy('<%= product[0].stock %>', '<%= product[0]._id %>')" 
                                               class="btn <%= product[0]?.stock < 1 ? 'btn-warning' : 'btn-success' %>" 
                                               role="button">
                                               <%= product[0]?.stock < 1 ? 'Out of Stock' : 'Buy Now' %>
                                            </a>                                      
                                    
                                            <div class="details-action-wrapper">
                                                <button type="submit" class="btn btn-outline-secondary" title="Add to Cart" 
                                                        aria-label="Add to Cart"
                                                        onclick="setColorBeforeSubmit(event)"
                                                        style="<%= product[0]?.stock >= 1 ? '' : 'display:none;' %>">
                                                    Add to Cart
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    
                            
                                    <!-- Social Share -->
                                    <div class="social-icons social-icons-sm">
                                        <span class="social-label">Share:</span>
                                        <a href="#" class="social-icon" title="Facebook" target="_blank">
                                            <i class="icon-facebook-f"></i>
                                        </a>
                                        <a href="#" class="social-icon" title="Twitter" target="_blank">
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon" title="Instagram" target="_blank">
                                            <i class="icon-instagram"></i>
                                        </a>
                                        <a href="#" class="social-icon" title="Pinterest" target="_blank">
                                            <i class="icon-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                                  </div>
                                </div>
                        
                              




                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                       
                        <div class="tab-content">
                           
                            
                        </div><!-- End .tab-content -->
                    </div>


                    <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->

                    <div style="width: auto;" class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items": 1
                                },
                                "480": {
                                    "items": 2
                                },
                                "768": {
                                    "items": 3
                                },
                                "992": {
                                    "items": 4
                                },
                                "1200": {
                                    "items": 4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <% allproduct.forEach((product, index) => { 
                           
                            const originalPrice = parseFloat(product.price.replace(/,/g, '')) || 0;                         
                            const discountMatch = product.offer ? product.offer.match(/\d+/) : null;
                            const discountPercentage = discountMatch ? parseFloat(discountMatch[0]) : 0;                  
                            const discountedPrice = originalPrice - (originalPrice * discountPercentage / 100);
                        %>
                            <div class="product product-4 text-center" style="width: 250px; padding:;">
                                <figure style="width: 100%;" class="product-media">
                                    <a href="http://localhost:3000/productview/<%= product._id %>">
                                        <img src="/uploads/<%= product.image && product.image[0] ? product.image[0] : 'default.jpg' %>" 
                                             alt="Product image" class="product-image">
                                    </a>
                                    
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable">
                                            <span>Add to Wishlist</span>
                                        </a>
                                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view">
                                            <span>Quick View</span>
                                        </a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                            <span>Compare</span>
                                        </a>
                                    </div>
                        
                                    <div class="product-action">
                                        <form action="/cart" method="post" id="addToCartForm">
                                            <input type="hidden" name="productId" value="<%= product?._id %>">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="stock" value="<%= product?.stock %>">
                                          
                                            <button type="submit" style="width: 250px; border: none;" 
                                                    class="btn-product btn-cart" title="Add to cart">
                                                <span>Add to Cart</span>
                                            </button>
                                        </form>
                                    </div>
                                </figure>
                        
                                <div class="product-body" style="margin-top: 100px;">
                                    <div class="product-cat">
                                        <a href="#"><%= product.category || 'N/A' %></a>
                                    </div>
                        
                                    <h3 class="product-title">
                                        <a href="http://localhost:3000/productview/<%= product._id %>">
                                            <%= product.productname || 'Product Name' %>
                                        </a>
                                    </h3>
                        
                                    <div class="product-price">
                                        <del style="color: red;">₹<%= originalPrice.toLocaleString('en-IN') %></del> 
                                        <span style="color: green; font-size: 18px; font-weight: bold; margin-left: 10px;">
                                            ₹<%= discountedPrice.toLocaleString('en-IN') %>
                                        </span>
                                    </div>
                        
                                    <div class="product-price">
                                        <%= product.offer %> 
                                        <p style="color: green; font-size: larger;">Off</p>
                                    </div>
                        
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: <%= product.rating * 20 %>%;"></div>
                                        </div>
                                        <span class="ratings-text"><%= product.rating %> </span>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                        
                        
                        
                    </div><!-- End .owl-carousel -->
                    
                </div><!-- End .container -->


            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
                                <h3 style="color: black;">
                                    <i class="fas fa-gem"></i> Clicon
                                  </h3>
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>
                             
	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer>
        <!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Sticky Bar -->
   

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

           
            
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                       
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                       
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                       
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>


                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                            </li>
                           
                        </ul>
                    </li>
                  
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>

    <script>
        let selectedRam = null;
        let selectedStorage = null;
    
        document.querySelectorAll('.variant-option').forEach(option => {
            option.addEventListener('click', function () {
                let type = this.getAttribute('data-type');
                let value = this.getAttribute('data-value');
    
                // Remove previous selection highlight in the same category
                document.querySelectorAll(`.variant-option[data-type="${type}"]`).forEach(el => {
                    el.style.backgroundColor = "#ffffff";
                    el.style.border = "1px solid #000";
                    el.style.color = "#000";
                });
    
                // Highlight the selected option
                this.style.backgroundColor = "#B78628";
                this.style.color = "#ffffff";
                this.style.border = "1px solid #0056b3";
    
                if (type === 'ram') {
                    selectedRam = value;
                } else if (type === 'storage') {
                    selectedStorage = value;
                }
    
                // Enable storage options only after RAM is selected
                if (selectedRam) {
                    document.querySelectorAll('.variant-option[data-type="storage"]').forEach(el => {
                        el.style.pointerEvents = "auto";
                        el.style.opacity = "1";
                    });
                }
            });
        });
    
        // Initially disable storage selection until RAM is chosen
        document.querySelectorAll('.variant-option[data-type="storage"]').forEach(el => {
            el.style.pointerEvents = "none";
            el.style.opacity = "0.5";
        });
   
    
    
// ================================color selection ========================================
    document.querySelectorAll('.color-option').forEach(option => {
    option.addEventListener('click', function() {
        // Remove "selected" class from all colors
        document.querySelectorAll('.color-option').forEach(el => el.classList.remove('selected'));

        // Add "selected" class to the clicked color
        this.classList.add('selected');

        // Optional: Highlight selected color
        document.querySelectorAll('.color-option').forEach(el => el.style.border = "2px solid transparent");
        this.style.border = "2px solid #000";
    });
});

// ==============================================================================================

// ===========================================================


function setColorBeforeSubmit(event) {
    // Prevent form submission if no color is selected
    const selectedColorElement = document.querySelector('.color-option.selected');
    if (!selectedColorElement) {
        alert("Please select a color before adding to cart.");
        event.preventDefault();  // Stop form submission
        return;
    }

    // Set selected color in the hidden input field
    const selectedColor = selectedColorElement.getAttribute('data-value');
    document.getElementById('selectedColorInput').value = selectedColor;
   

}



function buy(stock, id) {
    if (stock < 1) {
        return;
    }

    const qty = document.getElementById('qty').value;

    // Get the selected color
    const selectedColorElement = document.querySelector('.color-option.selected');
    if (!selectedColorElement) {
        alert("Please select a color.");
        return;
    }

    const selectedColor = selectedColorElement.getAttribute('data-value');

    // Redirect without encoding (not recommended if color names contain spaces)
    window.location.href = `/buynow/${id}?qty=${qty}&color=${selectedColor.replace(/\s+/g, '-')}`;
}
// ==========================================================================

        document.addEventListener("DOMContentLoaded", function () {
    const qtyInput = document.getElementById("qty");
    const stock = document.getElementById("stk").value
    

    function checkMaxLimit() {
        const maxQty =5 
        const currentQty = parseInt(qtyInput.value, 10);

        
        if (currentQty > stock) {
            qtyInput.value = stock; 
            qtyInput.setAttribute("max", stock);  
            qtyInput.setAttribute("readonly", "true");  
            
            showCustomAlert(`Stock limit exceeded.   Only ${stock}  available`);
        } else if (currentQty >= maxQty) {
            qtyInput.value = maxQty; 
            showCustomAlert(`Maximum quantity allowed is ${maxQty}`);
        } else if (currentQty === 5) {
            showCustomAlert("Quantity is exactly 5");
        }
    }


    
    qtyInput.addEventListener("input", checkMaxLimit);
    qtyInput.addEventListener("change", checkMaxLimit);
});

function showCustomAlert(message) {
    const notification = document.getElementById("customNotification");
    const messageElement = notification.querySelector(".notification-message");

    messageElement.textContent = message;
    notification.classList.add("active");

    setTimeout(() => {
        notification.classList.remove("active");
    }, 5000);  // Hide after 3 seconds
}


    </script>
</body>


</html>